{"openapi":"3.0.3","info":{"title":"HenrikDev API","description":"","license":{"name":""},"version":"4.9.0"},"servers":[{"url":"https://api.henrikdev.xyz"}],"paths":{"/valorant/v1/account/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get account (v1)","operationId":"get_account_v1","parameters":[{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"Bypass cache and refresh (optional)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Account data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/by-puuid/account/{puuid}":{"get":{"tags":["valorant"],"summary":"Get account by PUUID (v1)","operationId":"get_account_by_id_v1","parameters":[{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"Bypass cache and refresh (optional)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Account data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/account/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get account (v2)","operationId":"get_account_v2","parameters":[{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"Bypass cache and refresh (optional)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Account data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/by-puuid/account/{puuid}":{"get":{"tags":["valorant"],"summary":"Get account by PUUID (v2)","operationId":"get_account_by_id_v2","parameters":[{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"Bypass cache and refresh (optional)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Account data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/mmr/{affinity}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get MMR by name (v1)","operationId":"get_mmr_v1_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/by-puuid/mmr/{affinity}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get MMR by PUUID (v1)","operationId":"get_mmr_v1_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/mmr/{affinity}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get MMR by name (v2)","operationId":"get_mmr_v2_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/by-puuid/mmr/{affinity}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get MMR by PUUID (v2)","operationId":"get_mmr_v2_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v3/mmr/{affinity}/{platform}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get MMR by name (v3)","operationId":"get_mmr_v3_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRV3Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v3/by-puuid/mmr/{affinity}/{platform}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get MMR by PUUID (v3)","operationId":"get_mmr_v3_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRV3Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/mmr-history/{affinity}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get MMR history by name (v1)","operationId":"get_mmr_history_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRHistoryV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/by-puuid/mmr-history/{affinity}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get MMR history by PUUID (v1)","operationId":"get_mmr_history_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRHistoryV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/mmr-history/{affinity}/{platform}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get MMR history by name (v2)","operationId":"get_mmr_history_v2_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRHistoryV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/by-puuid/mmr-history/{affinity}/{platform}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get MMR history by PUUID (v2)","operationId":"get_mmr_history_v2_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MMRHistoryV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v3/matches/{affinity}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get matches by name (v3)","operationId":"get_matches_v3_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","description":"Game mode filter (optional)","required":false,"schema":{"$ref":"#/components/schemas/MatchMode"}},{"name":"map","in":"query","description":"Map filter (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Match history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchesV3ListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v3/by-puuid/matches/{affinity}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get matches by PUUID (v3)","operationId":"get_matches_v3_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","description":"Game mode filter (optional)","required":false,"schema":{"type":"string"}},{"name":"map","in":"query","description":"Map filter (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Match history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchesV3ListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v4/matches/{affinity}/{platform}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get matches by name (v4)","operationId":"get_matches_v4_by_name","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","description":"Game mode filter (optional)","required":false,"schema":{"type":"string"}},{"name":"map","in":"query","description":"Map filter (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"start","in":"query","description":"Start index for pagination (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Match history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchesV4HistoryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v4/by-puuid/matches/{affinity}/{platform}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get matches by PUUID (v4)","operationId":"get_matches_v4_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","description":"Game mode filter (optional)","required":false,"schema":{"type":"string"}},{"name":"map","in":"query","description":"Map filter (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"start","in":"query","description":"Start index for pagination (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Match history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchesV4HistoryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/match/{match_id}":{"get":{"tags":["valorant"],"summary":"Get match details (v2)","operationId":"match_v2","parameters":[{"name":"match_id","in":"path","description":"Match UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Match details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchesV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v4/match/{affinity}/{match_id}":{"get":{"tags":["valorant"],"summary":"Get match details (v4)","operationId":"match_v4","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"match_id","in":"path","description":"Match UUID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Match details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchesV4Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/leaderboard/{affinity}":{"get":{"tags":["valorant"],"summary":"Get leaderboard (v1)","operationId":"leaderboard_v1","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Season ID (optional)","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Player name to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Player tag to search for (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Leaderboard retrieved successfully","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/leaderboard/{affinity}":{"get":{"tags":["valorant"],"summary":"Get leaderboard (v2)","operationId":"leaderboard_v2","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Season ID (optional)","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"Player name to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Player tag to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"puuid","in":"query","description":"Player UUID to search for (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Leaderboard retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v3/leaderboard/{affinity}/{platform}":{"get":{"tags":["valorant"],"summary":"Get leaderboard (v3)","operationId":"leaderboard_v3","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Season ID (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results per page (optional)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"Page number (optional)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"name","in":"query","description":"Player name to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Player tag to search for (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Leaderboard retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardV3Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/premier/search":{"get":{"tags":["valorant"],"summary":"Search Premier teams (v1)","operationId":"premier_search","parameters":[{"name":"name","in":"query","description":"Team name to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","description":"Team tag to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Team UUID to search for (optional)","required":false,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Premier season id (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Premier team search results retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierSearchResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"No teams found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/premier/leaderboard/{affinity}":{"get":{"tags":["valorant"],"summary":"Get Premier leaderboard (v1)","operationId":"premier_leaderboard","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"conference","in":"query","description":"Conference filter (optional)","required":false,"schema":{"type":"string"}},{"name":"division","in":"query","description":"Division filter (optional)","required":false,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Premier season id (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Premier leaderboard retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierSearchResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/premier/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get Premier team by name (v1)","operationId":"premier_by_name","parameters":[{"name":"name","in":"path","description":"Team name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Team tag","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Premier season id (optional)","required":false,"schema":{"type":"string"}},{"name":"affinity","in":"query","description":"Region/affinity for fallback resolution (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Premier team data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierTeamV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Team not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"409":{"description":"Multiple teams match this name and tag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/premier/{id}":{"get":{"tags":["valorant"],"summary":"Get Premier team by ID (v1)","operationId":"premier_by_id","parameters":[{"name":"id","in":"path","description":"Team UUID","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Premier season id (optional)","required":false,"schema":{"type":"string"}},{"name":"affinity","in":"query","description":"Region/affinity for fallback resolution (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Premier team data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierTeamV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Team not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/premier/{name}/{tag}/history":{"get":{"tags":["valorant"],"summary":"Get Premier team history by name (v1)","operationId":"premier_by_name_history","parameters":[{"name":"name","in":"path","description":"Team name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Team tag","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Premier season id (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Premier team history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierTeamHistoryV1Response"}}}},"400":{"description":"Client error"}}}},"/valorant/v1/premier/{id}/history":{"get":{"tags":["valorant"],"summary":"Get Premier team history by ID (v1)","operationId":"premier_by_id_history","parameters":[{"name":"id","in":"path","description":"Team UUID","required":true,"schema":{"type":"string"}},{"name":"season","in":"query","description":"Premier season id (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Premier team history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremierTeamV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Team not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/esports/schedule":{"get":{"tags":["valorant"],"summary":"Get esports schedule (v1)","operationId":"esports_schedules_v1","parameters":[{"name":"region","in":"query","required":false,"schema":{"type":"string","nullable":true}},{"name":"league","in":"query","required":false,"schema":{"type":"string","nullable":true}}],"responses":{"200":{"description":"Esports schedule retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Schedule not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/events":{"get":{"tags":["valorant"],"summary":"Get VLR esports events (v2)","operationId":"esports_events_v2","parameters":[{"name":"region","in":"query","required":false,"schema":{"$ref":"#/components/schemas/EsportsV2Region"},"style":"form"},{"name":"type","in":"query","required":false,"schema":{"$ref":"#/components/schemas/EsportsV2EventType"},"style":"form"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"}],"responses":{"200":{"description":"Esports events retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2EventsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/events/{event_id}/matches":{"get":{"tags":["valorant"],"summary":"Get VLR event matches (v2)","operationId":"esports_event_v2","parameters":[{"name":"event_id","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"Esports event matches retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2EventResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/matches/{match_id}":{"get":{"tags":["valorant"],"summary":"Get VLR match details (v2)","operationId":"esports_match_v2","parameters":[{"name":"match_id","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"Esports match details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2MatchesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/teams/{team_id}":{"get":{"tags":["valorant"],"summary":"Get VLR team (v2)","operationId":"esports_team_v2","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"Esports team profile retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2TeamResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/teams/{team_id}/matches":{"get":{"tags":["valorant"],"summary":"Get VLR team matches (v2)","operationId":"esports_team_matches_v2","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0,"nullable":true}}],"responses":{"200":{"description":"Esports team matches retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2TeamMatchListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/teams/{team_id}/transactions":{"get":{"tags":["valorant"],"summary":"Get VLR team transactions (v2)","operationId":"esports_team_transactions_v2","parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"Esports team transactions retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2TeamTransactionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/players/{player_id}":{"get":{"tags":["valorant"],"summary":"Get VLR player (v2)","operationId":"esports_player_v2","parameters":[{"name":"player_id","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"timespan","in":"query","required":false,"schema":{"$ref":"#/components/schemas/EsportsV2PlayerTimespan"},"style":"form"}],"responses":{"200":{"description":"Esports player profile retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2PlayerResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/esports/vlr/players/{player}/matches":{"get":{"tags":["valorant"],"summary":"Get VLR player matches (v2)","operationId":"esports_player_matches_v2","parameters":[{"name":"player","in":"path","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","minimum":0,"nullable":true}}],"responses":{"200":{"description":"Esports player matches retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EsportsV2PlayerMatchesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/stored-matches/{affinity}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get stored matches by name (v1)","operationId":"stored_matches","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","description":"Game mode filter (optional)","required":false,"schema":{"type":"string"}},{"name":"map","in":"query","description":"Map filter (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Stored match history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredMatchesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/by-puuid/stored-matches/{affinity}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get stored matches by PUUID (v1)","operationId":"stored_matches_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"mode","in":"query","description":"Game mode filter (optional)","required":false,"schema":{"type":"string"}},{"name":"map","in":"query","description":"Map filter (optional)","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Stored match history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredMatchesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/stored-mmr-history/{affinity}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get stored MMR history by name (v1)","operationId":"stored_mmr_history","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Stored MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredMMRResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/by-puuid/stored-mmr-history/{affinity}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get stored MMR history by PUUID (v1)","operationId":"stored_mmr_history_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Stored MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredMMRResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/stored-mmr-history/{affinity}/{platform}/{name}/{tag}":{"get":{"tags":["valorant"],"summary":"Get stored MMR history by name (v2)","operationId":"stored_mmr_history_v2","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","description":"Riot ID name","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"Riot ID tag","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Stored MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredMMRV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v2/by-puuid/stored-mmr-history/{affinity}/{platform}/{puuid}":{"get":{"tags":["valorant"],"summary":"Get stored MMR history by PUUID (v2)","operationId":"stored_mmr_history_v2_by_id","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}},{"name":"platform","in":"path","description":"Platform (pc, console)","required":true,"schema":{"type":"string"}},{"name":"puuid","in":"path","description":"Player UUID","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results (optional)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Stored MMR history retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoredMMRV2Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/content":{"get":{"tags":["valorant"],"summary":"Get content (v1)","operationId":"get_content_v1","parameters":[{"name":"locale","in":"query","description":"Locale code (e.g., en-US, de-DE) - optional","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Content retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Content not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/{version}/store-featured":{"get":{"tags":["valorant"],"summary":"Get featured store items","operationId":"StoreFeatured","parameters":[{"name":"version","in":"path","description":"API version (v1, v2)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Store featured items retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreFeaturedV1"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Store data not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/{version}/store-offers":{"get":{"tags":["valorant"],"summary":"Get store offers","operationId":"StoreOffers","parameters":[{"name":"version","in":"path","description":"API version (v1, v2)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Store offers retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreOffersV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Store data not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/crosshair/generate":{"get":{"tags":["valorant"],"summary":"Generate crosshair image (v1)","operationId":"crosshair","parameters":[{"name":"id","in":"query","description":"Crosshair code","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Crosshair image generated successfully","content":{"image/png":{}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/status/{affinity}":{"get":{"tags":["valorant"],"summary":"Get status (v1)","operationId":"Status","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusV1"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Region not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/queue-status/{affinity}":{"get":{"tags":["valorant"],"summary":"Get queue status (v1)","operationId":"QueueStatus","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Queue status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatusV1"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Region not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/version/{affinity}":{"get":{"tags":["valorant"],"summary":"Get game version (v1)","operationId":"Version","parameters":[{"name":"affinity","in":"path","description":"Region/affinity (e.g., na, eu, ap, kr)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Version data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Region not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/website/{country_code}":{"get":{"tags":["valorant"],"summary":"Get website content (v1)","operationId":"Website","parameters":[{"name":"country_code","in":"path","description":"Country code (e.g., en-us, de-de)","required":true,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Category filter (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Website content retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebsiteV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Content not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/website/{country_code}/{db_id}":{"get":{"tags":["valorant"],"summary":"Get website entry by ID (v1)","operationId":"WebsiteById","parameters":[{"name":"db_id","in":"path","description":"Database ID of the website entry","required":true,"schema":{"type":"string"}},{"name":"country_code","in":"path","description":"Country code (e.g., en-us, de-de)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Website entry retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebsiteByIdV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Content not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/valorant/v1/raw":{"post":{"tags":["valorant"],"summary":"Get raw Riot API data (v1)","operationId":"Raw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RawV1Payload"}}},"required":true},"responses":{"200":{"description":"Raw Riot API data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RawV1Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}}}},"/public/v1/premium/webhook":{"get":{"tags":["premium"],"summary":"Get premium webhook settings","operationId":"get_webhook_settings","responses":{"200":{"description":"Premium webhook settings and tracked users retrieved successfully"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}},"security":[{"api_key_header":[]},{"api_key_query":[]}]}},"/public/v1/premium/webhook/users":{"post":{"tags":["premium"],"summary":"Add premium webhook user","operationId":"add_webhook_user","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremiumWebhookUserAddRequest"}}},"required":true},"responses":{"201":{"description":"Tracked user added successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremiumWebhookUserMutationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"403":{"description":"Premium plan required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}},"security":[{"api_key_header":[]},{"api_key_query":[]}]}},"/public/v1/premium/webhook/users/{id}":{"put":{"tags":["premium"],"summary":"Update premium webhook user","operationId":"update_webhook_user","parameters":[{"name":"id","in":"path","description":"Tracked user id","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremiumWebhookUserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Tracked user updated successfully"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Tracked user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}},"security":[{"api_key_header":[]},{"api_key_query":[]}]},"delete":{"tags":["premium"],"summary":"Delete premium webhook user","operationId":"delete_webhook_user","parameters":[{"name":"id","in":"path","description":"Tracked user id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tracked user removed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PremiumWebhookDeleteResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"404":{"description":"Tracked user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendError"}}}}},"security":[{"api_key_header":[]},{"api_key_query":[]}]}}},"components":{"schemas":{"APIError":{"type":"object","required":["code","message","status"],"properties":{"code":{"type":"integer","format":"int32","minimum":0},"details":{},"message":{"type":"string"},"status":{"type":"integer","format":"int32","minimum":0}}},"AccountV1Data":{"type":"object","required":["puuid","region","account_level","name","tag","card","last_update","last_update_raw"],"properties":{"account_level":{"type":"integer","format":"int32"},"card":{"$ref":"#/components/schemas/AccountV1DataCard"},"last_update":{"type":"string"},"last_update_raw":{"type":"integer","format":"int64"},"name":{"type":"string"},"puuid":{"type":"string"},"region":{"type":"string"},"tag":{"type":"string"}}},"AccountV1DataCard":{"type":"object","required":["small","large","wide","id"],"properties":{"id":{"type":"string"},"large":{"type":"string"},"small":{"type":"string"},"wide":{"type":"string"}}},"AccountV1Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/AccountV1Data"},"status":{"type":"integer","format":"int32","minimum":0}}},"AccountV2Data":{"type":"object","required":["puuid","region","account_level","name","tag","card","title","platforms","updated_at"],"properties":{"account_level":{"type":"integer","format":"int32"},"card":{"type":"string"},"name":{"type":"string"},"platforms":{"type":"array","items":{"type":"string"}},"puuid":{"type":"string"},"region":{"type":"string"},"tag":{"type":"string"},"title":{"type":"string"},"updated_at":{"type":"string"}}},"AccountV2Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/AccountV2Data"},"status":{"type":"integer","format":"int32","minimum":0}}},"AgentIdNameCombo":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}},"Bundle":{"type":"object","required":["ID","DataAssetID","CurrencyID","Items","TotalDiscountPercent","DurationRemainingInSeconds","WholesaleOnly"],"properties":{"CurrencyID":{"type":"string"},"DataAssetID":{"type":"string"},"DurationRemainingInSeconds":{"type":"integer","format":"int32","minimum":0},"ID":{"type":"string"},"Items":{"type":"array","items":{"$ref":"#/components/schemas/BundleItem"}},"TotalDiscountPercent":{"type":"number","format":"float"},"WholesaleOnly":{"type":"boolean"}}},"BundleItem":{"type":"object","required":["Item","BasePrice","CurrencyID","DiscountPercent","DiscountedPrice","IsPromoItem"],"properties":{"BasePrice":{"type":"integer","format":"int32"},"CurrencyID":{"type":"string"},"DiscountPercent":{"type":"number","format":"float"},"DiscountedPrice":{"type":"number","format":"float"},"IsPromoItem":{"type":"boolean"},"Item":{"$ref":"#/components/schemas/Item"}}},"ContentItem":{"type":"object","required":["name","assetName"],"properties":{"assetName":{"type":"string"},"id":{"type":"string","nullable":true},"localizedNames":{"type":"object","additionalProperties":{"type":"string"},"propertyNames":{"type":"string"},"nullable":true},"name":{"type":"string"}}},"ContentV1":{"type":"object","required":["version","characters","maps","chromas","skins","skinLevels","equips","gameModes","sprays","sprayLevels","charms","charmLevels","playerCards","playerTitles","acts","ceremonies"],"properties":{"acts":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"ceremonies":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"characters":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"charmLevels":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"charms":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"chromas":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"equips":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"gameModes":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"maps":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"playerCards":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"playerTitles":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"skinLevels":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"skins":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"sprayLevels":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"sprays":{"type":"array","items":{"$ref":"#/components/schemas/ContentItem"}},"version":{"type":"string"}}},"ContentV1Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/ContentV1"},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV1Data":{"type":"object","required":["date","state","type","league","tournament","match"],"properties":{"date":{"type":"string"},"league":{"$ref":"#/components/schemas/EsportsV1DataLeague"},"match":{"$ref":"#/components/schemas/EsportsV1DataMatch"},"state":{"type":"string"},"tournament":{"$ref":"#/components/schemas/EsportsV1DataTournament"},"type":{"type":"string"},"vod":{"type":"string","nullable":true}}},"EsportsV1DataLeague":{"type":"object","required":["name","identifier","icon","region"],"properties":{"icon":{"type":"string"},"identifier":{"type":"string"},"name":{"type":"string"},"region":{"type":"string"}}},"EsportsV1DataMatch":{"type":"object","required":["teams","game_type"],"properties":{"game_type":{"$ref":"#/components/schemas/EsportsV1DataMatchGameType"},"id":{"type":"string","nullable":true},"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV1DataMatchTeams"}}}},"EsportsV1DataMatchGameType":{"type":"object","properties":{"count":{"type":"integer","format":"int32","nullable":true},"type":{"type":"string","nullable":true}}},"EsportsV1DataMatchTeams":{"type":"object","required":["name","code","icon","has_won","game_wins","record"],"properties":{"code":{"type":"string"},"game_wins":{"type":"integer","format":"int32"},"has_won":{"type":"boolean"},"icon":{"type":"string"},"name":{"type":"string"},"record":{"$ref":"#/components/schemas/EsportsV1DataMatchTeamsRecord"}}},"EsportsV1DataMatchTeamsRecord":{"type":"object","required":["wins","losses"],"properties":{"losses":{"type":"integer","format":"int32"},"wins":{"type":"integer","format":"int32"}}},"EsportsV1DataTournament":{"type":"object","required":["name","season"],"properties":{"name":{"type":"string"},"season":{"type":"string"}}},"EsportsV1Response":{"type":"object","required":["status","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV1Data"}},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2AgentPerformanceStats":{"type":"object","required":["rating","acs","kd","adr","kast","kpr","apr","fkpr","fdpr","kills","deaths","assists","first_kills","first_deaths"],"properties":{"acs":{"type":"number","format":"float"},"adr":{"type":"number","format":"float"},"apr":{"type":"number","format":"float"},"assists":{"type":"integer","format":"int32","minimum":0},"deaths":{"type":"integer","format":"int32","minimum":0},"fdpr":{"type":"number","format":"float"},"first_deaths":{"type":"integer","format":"int32","minimum":0},"first_kills":{"type":"integer","format":"int32","minimum":0},"fkpr":{"type":"number","format":"float"},"kast":{"type":"number","format":"float"},"kd":{"type":"number","format":"float"},"kills":{"type":"integer","format":"int32","minimum":0},"kpr":{"type":"number","format":"float"},"rating":{"type":"number","format":"float"}}},"EsportsV2AgentUsage":{"type":"object","required":["count","percentage","rounds"],"properties":{"count":{"type":"integer","format":"int32","minimum":0},"percentage":{"type":"number","format":"float"},"rounds":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2Country":{"type":"object","required":["name","code"],"properties":{"code":{"type":"string"},"name":{"type":"string"}}},"EsportsV2Date":{"type":"object","properties":{"end":{"type":"string","nullable":true},"start":{"type":"string","nullable":true}}},"EsportsV2Event":{"type":"object","required":["status","region","id","title","slug","icon","price","dates"],"properties":{"dates":{"$ref":"#/components/schemas/EsportsV2Date"},"icon":{"type":"string"},"id":{"type":"integer","format":"int32","minimum":0},"price":{"type":"string"},"region":{"type":"string"},"slug":{"type":"string"},"status":{"$ref":"#/components/schemas/EsportsV2EventStatus"},"title":{"type":"string"}}},"EsportsV2EventDetail":{"type":"object","required":["id","slug","teams","tags","event","series"],"properties":{"date":{"type":"string","nullable":true},"event":{"type":"string"},"id":{"type":"integer","format":"int32","minimum":0},"series":{"type":"string"},"slug":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchTeam"}}}},"EsportsV2EventPlacement":{"type":"object","required":["event","placements","year"],"properties":{"event":{"$ref":"#/components/schemas/EsportsV2PlacementEvent"},"placements":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlacementEntry"}},"year":{"type":"string"}}},"EsportsV2EventResponse":{"type":"object","required":["status","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2EventDetail"}},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2EventStatus":{"type":"string","enum":["completed","ongoing","upcoming","unknown"]},"EsportsV2EventType":{"type":"string","enum":["completed","upcoming"]},"EsportsV2EventsQuery":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0,"nullable":true},"region":{"$ref":"#/components/schemas/EsportsV2Region","nullable":true},"type":{"$ref":"#/components/schemas/EsportsV2EventType","nullable":true}}},"EsportsV2EventsResponse":{"type":"object","required":["status","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2Event"}},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2HeadToHeadEvent":{"type":"object","required":["name","series","icon"],"properties":{"icon":{"type":"string"},"name":{"type":"string"},"series":{"type":"string"}}},"EsportsV2HeadToHeadMatch":{"type":"object","required":["match","event","score","date"],"properties":{"date":{"type":"string"},"event":{"$ref":"#/components/schemas/EsportsV2HeadToHeadEvent"},"match":{"$ref":"#/components/schemas/EsportsV2IdSlug"},"score":{"$ref":"#/components/schemas/EsportsV2HeadToHeadScore"}}},"EsportsV2HeadToHeadScore":{"type":"object","required":["team_1","team_2","winner_team"],"properties":{"team_1":{"type":"integer","format":"int32","minimum":0},"team_2":{"type":"integer","format":"int32","minimum":0},"winner_team":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2IdSlug":{"type":"object","required":["id","slug"],"properties":{"id":{"type":"integer","format":"int32","minimum":0},"slug":{"type":"string"}}},"EsportsV2KillMatrixEntry":{"type":"object","required":["killer","victim","kills","deaths"],"properties":{"deaths":{"type":"integer","format":"int32","minimum":0},"killer":{"type":"integer","format":"int32","minimum":0},"kills":{"type":"integer","format":"int32","minimum":0},"victim":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2Match":{"type":"object","required":["metadata","teams","streams","vods","games","head_to_head","past_matches"],"properties":{"economy":{"$ref":"#/components/schemas/EsportsV2MatchEconomy","nullable":true},"games":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchGame"}},"head_to_head":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2HeadToHeadMatch"}},"metadata":{"$ref":"#/components/schemas/EsportsV2MatchHeader"},"past_matches":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2TeamPastMatches"}},"performance":{"$ref":"#/components/schemas/EsportsV2MatchPerformance","nullable":true},"streams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchStream"}},"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchHeaderTeam"}},"vods":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchStream"}}}},"EsportsV2MatchEconomy":{"type":"object","required":["teams"],"properties":{"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2TeamEconomy"}}}},"EsportsV2MatchEvent":{"type":"object","required":["id","slug","icon","title","series"],"properties":{"icon":{"type":"string"},"id":{"type":"integer","format":"int32","minimum":0},"series":{"type":"string"},"slug":{"type":"string"},"title":{"type":"string"}}},"EsportsV2MatchGame":{"type":"object","required":["map","teams","rounds"],"properties":{"duration_in_s":{"type":"integer","format":"int32","minimum":0,"nullable":true},"map":{"type":"string"},"picked_by":{"type":"integer","format":"int32","minimum":0,"nullable":true},"rounds":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchGameRound"}},"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchGameTeam"}}}},"EsportsV2MatchGamePlayer":{"type":"object","required":["player","agent","stats"],"properties":{"agent":{"type":"string"},"player":{"$ref":"#/components/schemas/EsportsV2MatchPlayer"},"stats":{"$ref":"#/components/schemas/EsportsV2MatchGamePlayerStats"}}},"EsportsV2MatchGamePlayerStats":{"type":"object","properties":{"acs":{"type":"integer","format":"int32","minimum":0,"nullable":true},"adr":{"type":"number","format":"float","nullable":true},"assists":{"type":"integer","format":"int32","minimum":0,"nullable":true},"deaths":{"type":"integer","format":"int32","minimum":0,"nullable":true},"first_deaths":{"type":"integer","format":"int32","minimum":0,"nullable":true},"first_kills":{"type":"integer","format":"int32","minimum":0,"nullable":true},"fk_diff":{"type":"integer","format":"int32","nullable":true},"hs_pct":{"type":"number","format":"float","nullable":true},"kast":{"type":"number","format":"float","nullable":true},"kd_diff":{"type":"integer","format":"int32","nullable":true},"kills":{"type":"integer","format":"int32","minimum":0,"nullable":true},"rating":{"type":"number","format":"float","nullable":true}}},"EsportsV2MatchGameRound":{"type":"object","required":["round","winning_team","winning_site"],"properties":{"round":{"type":"integer","format":"int32","minimum":0},"winning_site":{"type":"string"},"winning_team":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2MatchGameTeam":{"type":"object","required":["name","is_winner","players"],"properties":{"is_winner":{"type":"boolean"},"name":{"type":"string"},"players":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2MatchGamePlayer"}},"score":{"type":"integer","format":"int32","minimum":0,"nullable":true},"score_ct":{"type":"integer","format":"int32","minimum":0,"nullable":true},"score_t":{"type":"integer","format":"int32","minimum":0,"nullable":true}}},"EsportsV2MatchHeader":{"type":"object","required":["event","date","patch","format","status","note"],"properties":{"date":{"type":"string"},"event":{"$ref":"#/components/schemas/EsportsV2MatchEvent"},"format":{"type":"string"},"note":{"type":"string"},"patch":{"type":"string"},"status":{"type":"string"}}},"EsportsV2MatchHeaderTeam":{"type":"object","required":["id","slug","url","name","icon"],"properties":{"icon":{"type":"string"},"id":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"},"score":{"type":"integer","format":"int32","minimum":0,"nullable":true},"slug":{"type":"string"},"url":{"type":"string"}}},"EsportsV2MatchLeague":{"type":"object","required":["icon","name","series"],"properties":{"icon":{"type":"string"},"name":{"type":"string"},"series":{"type":"string"}}},"EsportsV2MatchPerformance":{"type":"object","required":["kill_matrix","player_performances"],"properties":{"kill_matrix":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2KillMatrixEntry"}},"player_performances":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlayerPerformance"}}}},"EsportsV2MatchPlayer":{"type":"object","required":["nation","id","name","slug"],"properties":{"id":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"},"nation":{"type":"string"},"slug":{"type":"string"}}},"EsportsV2MatchStream":{"type":"object","required":["name","link"],"properties":{"link":{"type":"string"},"name":{"type":"string"}}},"EsportsV2MatchTeam":{"type":"object","required":["name","is_winner"],"properties":{"is_winner":{"type":"boolean"},"name":{"type":"string"},"score":{"type":"integer","format":"int32","minimum":0,"nullable":true}}},"EsportsV2MatchesResponse":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/EsportsV2Match"},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2PastMatch":{"type":"object","required":["match","score","is_win","opponent","date"],"properties":{"date":{"type":"string"},"is_win":{"type":"boolean"},"match":{"$ref":"#/components/schemas/EsportsV2IdSlug"},"opponent":{"$ref":"#/components/schemas/EsportsV2PastMatchOpponent"},"score":{"$ref":"#/components/schemas/EsportsV2PastMatchScore"}}},"EsportsV2PastMatchOpponent":{"type":"object","required":["name","logo"],"properties":{"logo":{"type":"string"},"name":{"type":"string"}}},"EsportsV2PastMatchScore":{"type":"object","required":["for","against"],"properties":{"against":{"type":"integer","format":"int32","minimum":0},"for":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2PlacementEntry":{"type":"object","required":["stage","placement"],"properties":{"placement":{"type":"string"},"prize":{"type":"string","nullable":true},"stage":{"type":"string"},"team":{"type":"string","nullable":true}}},"EsportsV2PlacementEvent":{"type":"object","required":["id","slug","name"],"properties":{"id":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"},"slug":{"type":"string"}}},"EsportsV2Player":{"type":"object","required":["id","name","socials","current_teams","past_teams","agent_stats","event_placements"],"properties":{"agent_stats":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlayerAgentStats"}},"avatar":{"type":"string","nullable":true},"country":{"$ref":"#/components/schemas/EsportsV2Country","nullable":true},"current_teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlayerTeam"}},"event_placements":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2EventPlacement"}},"id":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"},"past_teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlayerTeam"}},"real_name":{"type":"string","nullable":true},"socials":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2Social"}},"total_winnings":{"type":"string","nullable":true}}},"EsportsV2PlayerAgentStats":{"type":"object","required":["agent","usage","stats"],"properties":{"agent":{"type":"string"},"stats":{"$ref":"#/components/schemas/EsportsV2AgentPerformanceStats"},"usage":{"$ref":"#/components/schemas/EsportsV2AgentUsage"}}},"EsportsV2PlayerMatch":{"type":"object","required":["match","league","teams","vods"],"properties":{"date":{"type":"string","nullable":true},"league":{"$ref":"#/components/schemas/EsportsV2MatchLeague"},"match":{"$ref":"#/components/schemas/EsportsV2IdSlug"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlayerMatchTeam"}},"vods":{"type":"array","items":{"type":"string"}}}},"EsportsV2PlayerMatchTeam":{"type":"object","required":["name","tag","icon"],"properties":{"icon":{"type":"string"},"name":{"type":"string"},"score":{"type":"integer","format":"int32","minimum":0,"nullable":true},"tag":{"type":"string"}}},"EsportsV2PlayerMatchesResponse":{"type":"object","required":["status","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PlayerMatch"}},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2PlayerPerformance":{"type":"object","required":["player","multi_kills","clutches","econ_rating","plants","defuses"],"properties":{"clutches":{"$ref":"#/components/schemas/EsportsV2PlayerPerformanceClutches"},"defuses":{"type":"integer","format":"int32","minimum":0},"econ_rating":{"type":"integer","format":"int32","minimum":0},"multi_kills":{"$ref":"#/components/schemas/EsportsV2PlayerPerformanceMultiKills"},"plants":{"type":"integer","format":"int32","minimum":0},"player":{"$ref":"#/components/schemas/EsportsV2PlayerPerformancePlayer"}}},"EsportsV2PlayerPerformanceClutches":{"type":"object","required":["1v1","1v2","1v3","1v4","1v5"],"properties":{"1v1":{"type":"integer","format":"int32","minimum":0},"1v2":{"type":"integer","format":"int32","minimum":0},"1v3":{"type":"integer","format":"int32","minimum":0},"1v4":{"type":"integer","format":"int32","minimum":0},"1v5":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2PlayerPerformanceMultiKills":{"type":"object","required":["2k","3k","4k","5k"],"properties":{"2k":{"type":"integer","format":"int32","minimum":0},"3k":{"type":"integer","format":"int32","minimum":0},"4k":{"type":"integer","format":"int32","minimum":0},"5k":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2PlayerPerformancePlayer":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"}}},"EsportsV2PlayerResponse":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/EsportsV2Player"},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2PlayerTeam":{"type":"object","required":["id","name","logo"],"properties":{"id":{"type":"integer","format":"int32","minimum":0},"logo":{"type":"string"},"name":{"type":"string"}}},"EsportsV2PlayerTimespan":{"type":"string","enum":["30d","60d","90d","all"]},"EsportsV2Region":{"type":"string","enum":["north_america","europe","brazil","asia_pacific","korea","japan","latin_america","oceania","mena","gc","collegiate"]},"EsportsV2Social":{"type":"object","required":["platform","url"],"properties":{"platform":{"type":"string"},"url":{"type":"string"}}},"EsportsV2Team":{"type":"object","required":["id","name","socials","roster","event_placements"],"properties":{"country":{"$ref":"#/components/schemas/EsportsV2Country","nullable":true},"event_placements":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2EventPlacement"}},"id":{"type":"integer","format":"int32","minimum":0},"logo":{"type":"string","nullable":true},"name":{"type":"string"},"roster":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2TeamRosterMember"}},"socials":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2Social"}},"tag":{"type":"string","nullable":true},"total_winnings":{"type":"string","nullable":true}}},"EsportsV2TeamEconomy":{"type":"object","required":["team_name","pistol_won","eco","semi_eco","full_buy"],"properties":{"eco":{"$ref":"#/components/schemas/EsportsV2TeamEconomyRoundWon"},"full_buy":{"$ref":"#/components/schemas/EsportsV2TeamEconomyRoundWon"},"pistol_won":{"type":"integer","format":"int32","minimum":0},"semi_eco":{"$ref":"#/components/schemas/EsportsV2TeamEconomyRoundWon"},"team_name":{"type":"string"}}},"EsportsV2TeamEconomyRoundWon":{"type":"object","required":["won","rounds"],"properties":{"rounds":{"type":"integer","format":"int32","minimum":0},"won":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2TeamMatch":{"type":"object","required":["match","league","teams","vods"],"properties":{"date":{"type":"string","nullable":true},"league":{"$ref":"#/components/schemas/EsportsV2MatchLeague"},"match":{"$ref":"#/components/schemas/EsportsV2IdSlug"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2TeamMatchTeam"}},"vods":{"type":"array","items":{"type":"string"}}}},"EsportsV2TeamMatchListResponse":{"type":"object","required":["status","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2TeamMatch"}},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2TeamMatchTeam":{"type":"object","required":["name","tag","logo"],"properties":{"logo":{"type":"string"},"name":{"type":"string"},"score":{"type":"integer","format":"int32","minimum":0,"nullable":true},"tag":{"type":"string"}}},"EsportsV2TeamPastMatches":{"type":"object","required":["team","matches"],"properties":{"matches":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2PastMatch"}},"team":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2TeamResponse":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/EsportsV2Team"},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2TeamRosterMember":{"type":"object","required":["id","alias","role","is_captain"],"properties":{"alias":{"type":"string"},"avatar":{"type":"string","nullable":true},"country_code":{"type":"string","nullable":true},"id":{"type":"integer","format":"int32","minimum":0},"is_captain":{"type":"boolean"},"real_name":{"type":"string","nullable":true},"role":{"type":"string"}}},"EsportsV2TeamTransaction":{"type":"object","required":["action","player","position"],"properties":{"action":{"type":"string"},"date":{"type":"string","nullable":true},"player":{"$ref":"#/components/schemas/EsportsV2TransactionPlayer"},"position":{"type":"string"},"reference_url":{"type":"string","nullable":true}}},"EsportsV2TeamTransactionsResponse":{"type":"object","required":["status","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EsportsV2TeamTransaction"}},"status":{"type":"integer","format":"int32","minimum":0}}},"EsportsV2TransactionPlayer":{"type":"object","required":["id","slug","alias"],"properties":{"alias":{"type":"string"},"country_code":{"type":"string","nullable":true},"id":{"type":"integer","format":"int32","minimum":0},"real_name":{"type":"string","nullable":true},"slug":{"type":"string"}}},"FeaturedBundle":{"type":"object","required":["Bundle","Bundles","BundleRemainingDurationInSeconds"],"properties":{"Bundle":{"$ref":"#/components/schemas/Bundle"},"BundleRemainingDurationInSeconds":{"type":"integer","format":"int32","minimum":0},"Bundles":{"type":"array","items":{"$ref":"#/components/schemas/Bundle"}}}},"Item":{"type":"object","required":["ItemTypeID","ItemID","Amount"],"properties":{"Amount":{"type":"integer","format":"int32","minimum":0},"ItemID":{"type":"string"},"ItemTypeID":{"type":"string"}}},"LeaderboardPVPPlayer":{"type":"object","required":["PlayerCardID","TitleID","IsBanned","IsAnonymized","gameName","tagLine","leaderboardRank","rankedRating","numberOfWins","competitiveTier"],"properties":{"IsAnonymized":{"type":"boolean"},"IsBanned":{"type":"boolean"},"PlayerCardID":{"type":"string"},"TitleID":{"type":"string"},"competitiveTier":{"type":"integer","format":"int32","minimum":0},"gameName":{"type":"string"},"leaderboardRank":{"type":"integer","format":"int32","minimum":0},"numberOfWins":{"type":"integer","format":"int32","minimum":0},"puuid":{"type":"string","nullable":true},"rankedRating":{"type":"integer","format":"int32","minimum":0},"tagLine":{"type":"string"}}},"LeaderboardV2Response":{"type":"object","required":["last_update","next_update","total_players","radiant_threshold","immortal_3_threshold","immortal_2_threshold","immortal_1_threshold","players"],"properties":{"immortal_1_threshold":{"type":"integer","format":"int32"},"immortal_2_threshold":{"type":"integer","format":"int32"},"immortal_3_threshold":{"type":"integer","format":"int32"},"last_update":{"type":"integer","format":"int64"},"next_update":{"type":"integer","format":"int64"},"players":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardPVPPlayer"}},"radiant_threshold":{"type":"integer","format":"int32"},"total_players":{"type":"integer","format":"int32"}}},"LeaderboardV3Data":{"type":"object","required":["updated_at","thresholds","players"],"properties":{"players":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardV3DataPlayer"}},"thresholds":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardV3DataThreshold"}},"updated_at":{"type":"string"}}},"LeaderboardV3DataPlayer":{"type":"object","required":["card","title","is_banned","is_anonymized","name","tag","leaderboard_rank","tier","rr","wins","updated_at"],"properties":{"card":{"type":"string"},"is_anonymized":{"type":"boolean"},"is_banned":{"type":"boolean"},"leaderboard_rank":{"type":"integer","format":"int32"},"name":{"type":"string"},"puuid":{"type":"string","nullable":true},"rr":{"type":"integer","format":"int32"},"tag":{"type":"string"},"tier":{"type":"integer","format":"int32"},"title":{"type":"string"},"updated_at":{"type":"string"},"wins":{"type":"integer","format":"int32"}}},"LeaderboardV3DataThreshold":{"type":"object","required":["tier","start_index","threshold"],"properties":{"start_index":{"type":"integer","format":"int32"},"threshold":{"type":"integer","format":"int32"},"tier":{"$ref":"#/components/schemas/LeaderboardV3DataThresholdTier"}}},"LeaderboardV3DataThresholdTier":{"type":"object","required":["id","name"],"properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"LeaderboardV3Response":{"type":"object","required":["status","results","data"],"properties":{"data":{"$ref":"#/components/schemas/LeaderboardV3Data"},"results":{"$ref":"#/components/schemas/Pagination"},"status":{"type":"integer","format":"int32","minimum":0}}},"MMRDataImages":{"type":"object","required":["small","large","triangle_down","triangle_up"],"properties":{"large":{"type":"string"},"small":{"type":"string"},"triangle_down":{"type":"string"},"triangle_up":{"type":"string"}}},"MMRHistoryV1Data":{"type":"object","required":["currenttier","currenttierpatched","images","match_id","map","season_id","ranking_in_tier","mmr_change_to_last_game","elo","date","date_raw"],"properties":{"currenttier":{"type":"integer","format":"int32"},"currenttierpatched":{"type":"string"},"date":{"type":"string"},"date_raw":{"type":"integer","format":"int32"},"elo":{"type":"integer","format":"int32"},"images":{"$ref":"#/components/schemas/MMRDataImages"},"map":{"$ref":"#/components/schemas/MMRHistoryV1DataMap"},"match_id":{"type":"string"},"mmr_change_to_last_game":{"type":"integer","format":"int32"},"ranking_in_tier":{"type":"integer","format":"int32"},"season_id":{"type":"string"}}},"MMRHistoryV1DataMap":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}},"MMRHistoryV1Response":{"type":"object","required":["status","name","tag","data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MMRHistoryV1Data"}},"name":{"type":"string"},"status":{"type":"integer","format":"int32","minimum":0},"tag":{"type":"string"}}},"MMRHistoryV2Data":{"type":"object","required":["account","history"],"properties":{"account":{"$ref":"#/components/schemas/MMRV3Account"},"history":{"type":"array","items":{"$ref":"#/components/schemas/MMRHistoryV2History"}}}},"MMRHistoryV2History":{"type":"object","required":["tier","match_id","map","season","rr","last_change","elo","refunded_rr","was_derank_protected","date"],"properties":{"date":{"type":"string"},"elo":{"type":"integer","format":"int32"},"last_change":{"type":"integer","format":"int32"},"map":{"$ref":"#/components/schemas/MapIdNameCombo"},"match_id":{"type":"string"},"refunded_rr":{"type":"integer","format":"int32"},"rr":{"type":"integer","format":"int32"},"season":{"$ref":"#/components/schemas/SeasonIdShortCombo"},"tier":{"$ref":"#/components/schemas/TierIdNameCombo"},"was_derank_protected":{"type":"boolean"}}},"MMRHistoryV2Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/MMRHistoryV2Data"},"status":{"type":"integer","format":"int32","minimum":0}}},"MMRV1Data":{"type":"object","required":["currenttier","currenttierpatched","images","ranking_in_tier","mmr_change_to_last_game","elo","name","tag","old"],"properties":{"currenttier":{"type":"integer","format":"int32"},"currenttierpatched":{"type":"string"},"elo":{"type":"integer","format":"int32"},"images":{"$ref":"#/components/schemas/MMRDataImages"},"mmr_change_to_last_game":{"type":"integer","format":"int32"},"name":{"type":"string"},"old":{"type":"boolean"},"ranking_in_tier":{"type":"integer","format":"int32"},"tag":{"type":"string"}}},"MMRV1Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/MMRV1Data"},"status":{"type":"integer","format":"int32","minimum":0}}},"MMRV2CurrentData":{"type":"object","required":["currenttier","currenttierpatched","images","ranking_in_tier","mmr_change_to_last_game","elo","games_needed_for_rating","old"],"properties":{"currenttier":{"type":"integer","format":"int32"},"currenttierpatched":{"type":"string"},"elo":{"type":"integer","format":"int32"},"games_needed_for_rating":{"type":"integer","format":"int32"},"images":{"$ref":"#/components/schemas/MMRDataImages"},"mmr_change_to_last_game":{"type":"integer","format":"int32"},"old":{"type":"boolean"},"ranking_in_tier":{"type":"integer","format":"int32"}}},"MMRV2Data":{"type":"object","required":["name","tag","puuid","current_data","highest_rank","by_season"],"properties":{"by_season":{},"current_data":{"$ref":"#/components/schemas/MMRV2CurrentData"},"highest_rank":{"$ref":"#/components/schemas/MMRV2HighestRank"},"name":{"type":"string"},"puuid":{"type":"string"},"tag":{"type":"string"}}},"MMRV2HighestRank":{"type":"object","required":["old","tier","patched_tier","season"],"properties":{"old":{"type":"boolean"},"patched_tier":{"type":"string"},"season":{"type":"string"},"tier":{"type":"integer","format":"int32"}}},"MMRV2Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/MMRV2Data"},"status":{"type":"integer","format":"int32","minimum":0}}},"MMRV3Account":{"type":"object","required":["name","tag","puuid"],"properties":{"name":{"type":"string"},"puuid":{"type":"string"},"tag":{"type":"string"}}},"MMRV3Current":{"type":"object","required":["tier","rr","last_change","elo","games_needed_for_rating","rank_protection_shields"],"properties":{"elo":{"type":"integer","format":"int32"},"games_needed_for_rating":{"type":"integer","format":"int32"},"last_change":{"type":"integer","format":"int32"},"leaderboard_placement":{"$ref":"#/components/schemas/MMRV3LeaderboardPlacement","nullable":true},"rank_protection_shields":{"type":"integer","format":"int32"},"rr":{"type":"integer","format":"int32"},"tier":{"$ref":"#/components/schemas/TierIdNameCombo"}}},"MMRV3Data":{"type":"object","required":["account","current","seasonal"],"properties":{"account":{"$ref":"#/components/schemas/MMRV3Account"},"current":{"$ref":"#/components/schemas/MMRV3Current"},"peak":{"$ref":"#/components/schemas/MMRV3Peak","nullable":true},"seasonal":{"type":"array","items":{"$ref":"#/components/schemas/MMRV3Seasonal"}}}},"MMRV3LeaderboardPlacement":{"type":"object","required":["rank","updated_at"],"properties":{"rank":{"type":"integer","format":"int32","minimum":0},"updated_at":{"type":"string"}}},"MMRV3Peak":{"type":"object","required":["season","ranking_schema","tier","rr"],"properties":{"ranking_schema":{"type":"string"},"rr":{"type":"integer","format":"int32"},"season":{"$ref":"#/components/schemas/SeasonIdShortCombo"},"tier":{"$ref":"#/components/schemas/TierIdNameCombo"}}},"MMRV3Response":{"type":"object","required":["status","data"],"properties":{"data":{"$ref":"#/components/schemas/MMRV3Data"},"status":{"type":"integer","format":"int32","minimum":0}}},"MMRV3Seasonal":{"type":"object","required":["season","wins","games","end_tier","end_rr","ranking_schema","act_wins"],"properties":{"act_wins":{"type":"array","items":{"$ref":"#/components/schemas/TierIdNameCombo"}},"end_rr":{"type":"integer","format":"int32"},"end_tier":{"$ref":"#/components/schemas/TierIdNameCombo"},"games":{"type":"integer","format":"int32"},"leaderboard_placement":{"$ref":"#/components/schemas/MMRV3LeaderboardPlacement","nullable":true},"ranking_schema":{"type":"string"},"season":{"$ref":"#/components/schemas/SeasonIdShortCombo"},"wins":{"type":"integer","format":"int32"}}},"MapIdNameCombo":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}},"MatchMode":{"type":"string","enum":["Competitive","Unrated","Custom","Practice","Unknown"]},"MatchesV2Data":{"type":"object","required":["metadata","players","observers","coaches","teams","rounds","kills"],"properties":{"coaches":{"type":"array","items":{"$ref":"#/components/schemas/MatchesV2DataCoach"}},"kills":{"type":"array","items":{"$ref":"#/components/schemas/MatchesV2DataKill"}},"metadata":{"$ref":"#/components/schemas/MatchesV2DataMetadata"},"observers":{"type":"array","items":{"$ref":"#/components/schemas/MatchesV2DataObserver"}},"players":{"$ref":"#/components/schemas/MatchesV2DataPlayers"},"rounds":{"type":"array","items":{"$ref":"#/components/schemas/MatchesV2DataRound"}},"teams":{"$ref":"#/components/schemas/MatchesV2DataTeams"}}},"MatchesV2DataCoach":{"type":"object","required":["puuid","team"],"properties":{"puuid":{"type":"string"},"team":{"type":"string"}}},"MatchesV2DataKill":{"type":"object","required":["kill_time_in_round","kill_time_in_match","round","killer_puuid","killer_display_name","killer_team","victim_puuid","victim_display_name","victim_team","victim_death_location","damage_weapon_id","damage_weapon_assets","secondary_fire_mode","player_locations_on_kill","assistants"],"properties":{"assistants":{"type":"array","items":{"$ref":"#/components/schemas/MatchesV2DataRoundPlayerStatsKillEventsAssistants"}},"damage_weapon_assets":{"$ref":"#/components/schemas/MatchesV2DataRoundPlayerStatsKillEventsAssets"},"damage_weapon_id":{"type":"string"},"damage_weapon_name":{"type":"string","nullable":true},"kill_time_in_match":{"type":"integer","format":"int64","minimum":0},"kill_time_in_round":{"type":"integer","format":"int64","minimum":0},"killer_display_name":{"type":"string"},"killer_puuid":{"type":"string"},"killer_team":{"type":"string"},"player_locations_on_kill":{"type":"array","items":{"$ref":"#/components/schemas/MatchesV2DataRoundPlayerLocationsOnEvent"}},"round":{"type":"integer","format":"int32","minimum":0},"secondary_fire_mode":{"type":"boolean"},"victim_death_location":{"$ref":"#/components/schemas/MatchesV2DataRoundEventLocation"},"victim_display_name":{"type":"string"},"victim_puuid":{"type":"string"},"victim_team":{"type":"string"}}},"MatchesV2DataMetadata":{"type":"object","required":["game_version","game_length","game_start","game_start_patched","rounds_played","mode_id","season_id","platform","matchid","premier_info"],"properties":{"cluster":{"type":"string","nullable":true},"game_length":{"type":"integer","format":"int64","minimum":0},"game_start":{"type":"integer","format":"int64","minimum":0},"game_start_patched":{"type":"string"},"game_version":{"type":"string"},"map":{"type":"string","nullable":true},"matchid":{"type":"string"},"mode":{"type":"string","nullable":true},"mode_id":{"type":"string"},"platform":{"type":"string"},"premier_info":{"$ref":"#/components/schemas/MatchesV2DataMetadataPremierInfo"},"queue":{"type":"string","nullable":true},"region":{"type":"string","nullable":true},"rounds_played":{"type":"integer","format":"int32","minimum":0},"season_id":{"type":"string"}}},"MatchesV2DataMetadataPremierInfo":{"type":"object","properties":{"matchup_id":{"type":"string","nullable":true},"tournament_id":{"type":"string","nullable":true}}},"MatchesV2DataObserver":{"type":"object","required":["puuid","name","tag","platform","session_playtime","team","level","player_card","player_title","party_id"],"properties":{"level":{"type":"integer","format":"int32","minimum":0},"name":{"type":"string"},"party_id":{"type":"string"},"platform":{"$ref":"#/components/schemas/MatchesV2DataPlatform"},"player_card":{"type":"string"},"player_title":{"type":"string"},"puuid":{"type":"string"},"session_playtime":{"$ref":"#/components/schemas/MatchesV2DataPlayerSessionPlaytime"},"tag":{"type":"string"},"team":{"type":"string"}}},"MatchesV2DataPlatform":{"type":"object","required":["type","os"],"properties":{"os":{"$ref":"#/components/schemas/MatchesV2DataPlatformOs"},"type":{"type":"string"}}},"MatchesV2DataPlatformOs":{"type":"object","required":["name","version"],"properties":{"name":{"type":"string"},"version":{"type":"string"}}},"MatchesV2DataPlayer":{"type":"object","required":["puuid","name","tag","team","level","currenttier","currenttier_patched","player_card","player_title","party_id","session_playtime","behavior","platform","ability_casts","assets","stats","economy","damage_made","damage_received"],"properties":{"ability_casts":{"$ref":"#/components/schemas/MatchesV2DataPlayerAbilityCasts"},"assets":{"$ref":"#/components/schemas/MatchesV2DataPlayerAssets"},"behavior":{"$ref":"#/components/schemas/MatchesV2DataPlayerBehavior"},"character":{"type":"string
[...]
